{% extends 'users/base.html' %}

{% block head %}
    <title>Reset Your Password</title>
{% endblock head %}


{% block content %}
    <div class="box">
        <h1 class="is-uppercase has-text-centered has-text-weight-bold">Academix
            <br><span class="tag">Reset Password</span>
        </h1>
        <hr class=" dropdown-divider">
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            {{ form.errors }}

    <input type="submit" style="margin-top: 1em;" class="button is-link is-fullwidth" value="submit">
        </form>
    </div>

{% endblock content %}